.navbar {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    list-style-type: none;
    overflow: hidden;
    position: sticky;
}

.navbar-brand {
    color: white;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navbar li :hover {
    background-color: #666666;
}

.active {
    background-color: green;
}

.jumbotron {
    background-color: darkgray;
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 20px;
    color: white;
}

body {
    font-family: "system", sans-serif;
    margin: 0;
    padding: 0;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 0 5px;
    box-sizing: border-box;
}

.flex-img {
    vertical-align: middle;
    width: 100%;
    padding: 5px 0;
    border-radius: 10px;
    transition: all .3s;
}

.column img:hover {
    transform: scale(1.15);
}

.lightbox {
    visibility: hidden;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .2s;
    opacity: 0;
}

.lightbox-image {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    margin: 5% auto auto;
    transition: all 0.2s;
}

.lightbox-thumb-box {
    padding-top: 50px;
    overflow: scroll;
    margin: auto;
    width: 80%;
    max-height: 110px;
    white-space: nowrap;
    overflow-y: hidden;
}

.lightbox-thumb-box img {
    max-width: 20%;
    max-height: 100px;
    margin: 0 5px;
    transition: all 0.3s;
}

.close {
    position: absolute;
    color: white;
    font-size: 36px;
    right: 40px;
    top: 40px;
    transition: all .2s;
}

.arrows {
    position: absolute;
    color: white;
    font-size-adjust: 1.5;
    transition: all .2s;
    z-index: 2;
    top: 50%;
    width: auto;
    padding: 20px;
}

.play {
    position: absolute;
    color: white;
    font-size: 36px;
    transition: all .2s;
    right: 35px;
    top: 95px;
}

.close:hover, .arrows:hover, .play:hover {
    color: lightgray;
    cursor: pointer;
}

.lightbox-thumb-box img:hover {
    transform: scale(1.15);
}

.task-list-control {
    color: white;
    vertical-align: center;
    cursor: pointer;
}

.container {
    display: grid;
    grid-gap: 10px;
    margin: auto;
    height: 80%;
    max-width: 90%;
    grid-auto-flow: column;
    align-items: start;
}

.task-list {
    display: grid;
    border-radius: 20px;
    padding-bottom: 20px;
}

.task {
    padding: 0 10px;
    border-bottom-style: solid;
    background-color: rgba(155, 155, 155, 0.5);
    justify-content: space-between;
    display: grid;
    transition: all 0.2s;
}

.task-list-header {
    text-align: center;
}

.task p {
    grid-column: 1;
}

.task * {
    margin: 5px;
}

.task:hover {
    background-color: rgba(155, 155, 155, 0.75);
}

.check {
    color: red;
    grid-column: 2;
    cursor: default;
    font-size: 25px;
    grid-row: 1;
}

.prompt {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
}

.prompt-box {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.prompt-box input {
    width: 30%;
}

.prompt-box > * {
    margin-top: 10%;
}

.task-list > span {
    position: initial;
    font-size: 10px;
    padding-right: 20px;
    text-align: end;
}

.task > .close {
    position: unset;
    color: white;
    font-size: 10px;
}

/* System Font Stack via https://css-tricks.com/snippets/css/system-font-stack/ */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}